h1, h2, h3, h4, p, a, span {
  font-family: "roboto", sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

ol, ul {
  padding: 0;
}

figure {
  margin: 0;
}

.header {
  font-family: shrikhand;
  text-align: center;
  position: relative;
  padding: 1rem;
  font-size: 2rem;
}
.header div {
  margin: auto;
}
.header__container {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.header__arrow {
  color: black;
}

.footer {
  background-color: #333333;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 1.5rem;
  line-height: 2;
}
.footer__logo {
  font-family: "shrikhand", sans-serif;
  font-size: 1.2rem;
}
.footer__list {
  color: inherit;
  list-style: none;
}
.footer__list a {
  color: white;
}
.footer__list a i {
  width: 1rem;
  padding-right: 1rem;
}

.presentation__btn, .orderBtn {
  background-color: #6d6b6b;
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 100px;
  font-size: 1.1rem;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 5px 5px #b4b4b4;
  transition-duration: 400ms;
  cursor: pointer;
}
.presentation__btn:hover, .orderBtn:hover {
  background-image: linear-gradient(0deg, #a16be0, #ff93e1);
  box-shadow: 0px 5px 5px #818181;
}

.menu__btn {
  background-color: black;
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.menu__btn:hover:before {
  opacity: 1;
}
.menu__btn:before, .menu__btn .menu__like {
  position: absolute;
  width: 100%;
  height: 100%;
}
.menu__btn:before {
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
  transition: 0.5s;
  opacity: 0;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.menu__like {
  background-color: #f6f6f6;
  transition-duration: 0.25s;
  mix-blend-mode: lighten;
}

.card__like {
  background-color: #fff;
}

.wrapBtn {
  text-align: center;
  padding: 2rem;
}

/***************** Localisation ********************/
.localisation {
  display: flex;
  justify-content: center;
  background-color: #E7E7E7;
  padding: 1rem 0;
}
.localisation__icon {
  margin-right: 1rem;
}
.localisation__text {
  color: #2b2e2c;
}

/***************** Presentation ********************/
.presentation {
  background-color: #F6F6F6;
  text-align: center;
  padding: 2rem;
}
.presentation__title {
  font-family: "roboto", sans-serif;
}
.presentation__subtitle {
  margin-top: 1rem;
  font-weight: lighter;
}
.presentation__container {
  margin: 3rem auto;
}

/***************** Function ********************/
.function {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-self: center;
  margin: 3rem auto;
  row-gap: 1.5rem;
  padding: 0 1.5rem;
}
.function__title {
  grid-row: 1;
}
.function__filters {
  display: grid;
  grid-row: 2;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.25rem;
  list-style: none;
}
@media (min-width: 65rem) {
  .function__filters {
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    column-gap: 2rem;
    list-style: none;
  }
}
.function__filters li {
  background-color: #E7E7E7;
  box-shadow: 0px 5px 5px #cecece;
  padding: 1.5rem;
  border-radius: 1.25rem;
}
.function__filters li i {
  color: #4d4d4d;
  width: 2rem;
  text-align: center;
}
.function__text {
  margin-left: 1rem;
  font-weight: 600;
}
.function__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  margin-left: -2.5rem;
}

/***************** Restaurants ********************/
.restaurants {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #E7E7E7;
  padding: 4.5rem 1.5rem;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  margin-top: 2rem;
}
@media (min-width: 50rem) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
  }
}

.card {
  display: block;
  background-color: #FFF;
  position: relative;
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
}
.card__img {
  width: 100%;
  height: 12rem;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__label {
  background-color: #99E2D0;
  color: #155a49;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
  line-height: 1.5;
}
.card__content {
  flex: 1;
}
.card__subtitle {
  font-weight: lighter;
}

/***************** Loader ********************/
.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.loader__container {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}
.loader__item {
  animation: jump 1s;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/***************** Menu ********************/
.menuImg {
  width: 100%;
  max-width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  z-index: 1;
  position: relative;
  border-radius: 2rem 2rem;
  max-width: 1280px;
  margin: -4rem auto 0 auto;
  padding: 2rem;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "shrikhand", cursive;
}

.actions-wrapper {
  display: grid;
  row-gap: 2rem;
  margin-top: 2rem;
}
@media (min-width: 60rem) {
  .actions-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}

.action h3 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.action h3::after {
  content: "";
  background-color: #99E2D0;
  position: absolute;
  width: 3rem;
  height: 0.25rem;
  left: 0;
  bottom: 0;
}

.item {
  display: flex;
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 1rem 0;
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  max-width: 100%;
}
.item__header {
  width: 140px;
  flex: 1;
}
.item__title, .item__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__description {
  font-weight: 300;
}
.item__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 0.5rem;
  margin-right: 2rem;
}
.item__confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem -1rem;
  width: 4rem;
  transition: 0.5s;
}
.item__wrapIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.item__icon {
  color: #99E2D0;
}
.item:hover .item__confirmation {
  margin-right: -1rem;
}
.item:hover .item__wrapIcon {
  transform: rotate(0);
}

@keyframes itemAppear {
  0% {
    transform: translateY(2.5rem);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
.delay--0 {
  animation-delay: 0s;
}

.delay--1 {
  animation-delay: 0.2s;
}

.delay--2 {
  animation-delay: 0.4s;
}

.delay--3 {
  animation-delay: 0.6s;
}

.delay--4 {
  animation-delay: 0.8s;
}

.delay--5 {
  animation-delay: 1s;
}

.delay--6 {
  animation-delay: 1.2s;
}

.delay--7 {
  animation-delay: 1.4s;
}

.delay--8 {
  animation-delay: 1.6s;
}

/*# sourceMappingURL=style.css.map */
