.localisation {
    display: flex;
    justify-content: center;
    background-color: $color-background;
    padding: 1rem 0;

    &__icon {
        margin-right: 1rem;
        margin-top: 20px;
    }

    &__text {
        color: #2b2e2c;
    }
}

/***************** Presentation ********************/

.presentation {
    background-color: #F6F6F6;
    text-align: center;
    padding: 2rem;

    &__title {
        font-family: 'roboto', sans-serif;
    }

    &__subtitle {
        margin-top: 1rem;
        font-weight: lighter;
    }

    &__container {
        margin: 3rem auto;
    }
}
